

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

p {
  line-height: 1.5rem;
  padding: 0.5rem 0;
}

h1, h2, h3 {
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
}

body {
  background-color: white;
}

img {
  width: 100%;
}

/* Navbar */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: green; 
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px;
}

.logo {
  width: 150px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: center; 
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  font-size: 16px;
  padding: 16px;
  color: white; 
  display: block;
}

.navbar ul li a:hover {
  background: darkgreen; 
  color: white;
}

.navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: green; 
  display: none;
}

.navbar ul li ul li {
  border-top: 1px solid black;
}

.navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

.navbar ul li:hover > ul {
  display: block;
}

#menu-bar {
  display: none;
}

@media(max-width: 991px) {
  .navbar ul {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .navbar ul li {
    width: 100%;
  }

  .navbar ul li ul {
    position: static;
    width: 100%;
  }

  .navbar ul li ul li {
    background: green; 
  }

  #menu-bar:checked ~ .navbar ul {
    display: flex;
  }

  #menu-bar {
    display: block;
  }
}





.options a {
  text-decoration: none;
  padding: 3px 3px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  letter-spacing: 2px;
  float: left;
  font-family: 'Roboto', Times, serif;
  text-align: center;
}

.options a:hover {
  background-color: black;
  color: white !important;
}

.current {
  background-color: green;
  color: white !important;
}

.container {
    width: 100%;

    
   
}

.container .row {
    width: 80%;
    margin: auto;
}

.container .row .header {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .header h1 {
    padding-top: 30px;
    font-size: 45px;
    color: green;
}

.container .row .header p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.content .card {
    
    margin: 20px;
    max-width: 1000px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.content .card img {
    width: 100%;
    height: auto;
}

.content .card h4 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.content .card p {
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}

@media screen and (max-width: 750px) {
    .container .row {
        width: 90%;
    }

    .container .row .header {
        width: 100%;
    }

    .content {
        flex-direction: column;
        align-items: stretch;
    }

    .content .card {
        margin: 20px auto;
        width: 100%;
    }
}



/* =====
ARTICLES
===== */

.editor-h1 {
  font-size: 1.6rem;
  margin: 1rem 0rem;
  letter-spacing: 1px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.articles > a:nth-child(1),
.articles > a:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: 1 / span 2;
  align-items: center;
}

.articles > a:last-child {
  grid-column: 2 / span 2;
}

.articles > a:nth-child(2) {
  background-color: var(--dark-color);
  color: white;
}

.articles > a:nth-child(6) {
  background-color: var(--primary-color);
  color: white;
}

.card {
  background-color: white;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.card:hover {
  box-shadow: 3px 5px 10px rgb(199, 199, 199);
}

/* == 
ABOUT
== */

.about {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 1.5rem;
  margin: 1.7rem 0rem;
}

.about article {
  background-color: white;
  padding: 1rem;
}

.about article:first-child {
  grid-row: 1 / span 3;
}

.about article:first-child h2 {
  padding: 0.7rem 0rem;
  font-size: 1.7rem;
  font-weight: 900;
}

.about article:last-child {
  color: white;
  background-color: var(--primary-color);
}

.about article:last-child h3 {
  padding: 0.7rem 0rem;
}

.about article:last-child a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: white;
  background-color: var(--dark-color);
  text-align: center;
  padding: 0.5rem 0rem;
  margin-top: 0.7rem;
}





footer{
  background-color: green;
}

.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a{
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerNav{
  margin: 30px 0;
 
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
 
}

.footerNav ul li a{
color: white;
margin: 20px;
text-decoration: none;
font-size: 1.3em;
opacity: 0.7;
transition: 0.5s;

}

.footerNav ul li a:hover{
  opacity: 1;
}

.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p{
  color: white;
}

.designer{
  opacity: 0.7;
  text-transform:uppercase ;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width:700px) {
  .footerNav ul{
      flex-direction: column;
  }
  .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
  }
}
